<h1>Admin Dashboard</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
        <th>Amount of Products</th>
        <th>Amount of Categories</th>
        </tr>
      </thead>
      <tbody>
<th><%= @products %></th>
<th><%= @category %></th>
</tbody>
</table>
<%= link_to 'Return to Admin Products', '/admin/products' %>
